@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
    
    
}

body{
    color:black;
}

:root{
    --teal:#2ec1ac;
    --teal_hover:#279e8c;

}

.nav-user{
  background-color: #279e8c;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.availability-form{
  z-index:2;
  margin-top: -100px;
  position: relative;
}


  @media screen and (max-width:575px){
    .availability-form{
      margin-top: 25px;
      padding:0 35px;
    }
  }


.h-line{
    width: 150px;
    margin:0 auto;
    height: 1.7px;
}



.custom-alert{
  position:fixed;
  bottom:55rem;
  left:68%;
  width: 30%;
  
}


.icon-login{
  position: absolute;
  top: 146px;
  right: 5%;
  cursor: pointer;
  color: rgb(110, 99, 99);
}





