@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins',sans-serif;
} 

.navbar-admin a:hover{
    background-color:#efc8b1;
}

.admin-dash{
    background-color: #722620;
}

.admin-navbar{
    background-color: #30110d;
}

#dashboard{
    position: fixed;
    height: 100%;
    z-index: 11;
}

.setting-alert{
    position:fixed;
    bottom: 50rem;
    left:72%;
    width: 25%;
}




@media screen and (max-width:992px){
    #dashboard{
       height: auto;
       width: 100%;
    }

    #main-content{
        margin-top: 60px;
    }
    
}